cots/mongo/mongod.2025-05-22T08-43-25.mdmp
cots/mongo/mongod.2025-05-23T08-16-08.mdmp
cots/mongo/mongod.exe
cots/mongo/mongos.exe
cots/mongo/mongosh_crypt_v1.dll
cots/mongo/mongosh.exe
data/mongo/t/_mdb_catalog.wt
data/mongo/t/collection-0-15811008452418018435.wt
data/mongo/t/collection-0-16066466574624161326.wt
data/mongo/t/collection-2-15811008452418018435.wt
data/mongo/t/collection-2-16066466574624161326.wt
data/mongo/t/collection-4-15811008452418018435.wt
data/mongo/t/collection-4-16066466574624161326.wt
data/mongo/t/collection-6-15811008452418018435.wt
data/mongo/t/collection-8-15811008452418018435.wt
data/mongo/t/index-1-15811008452418018435.wt
data/mongo/t/index-1-16066466574624161326.wt
data/mongo/t/index-3-15811008452418018435.wt
data/mongo/t/index-3-16066466574624161326.wt
data/mongo/t/index-5-15811008452418018435.wt
data/mongo/t/index-5-16066466574624161326.wt
data/mongo/t/index-6-16066466574624161326.wt
data/mongo/t/index-7-15811008452418018435.wt
data/mongo/t/index-9-15811008452418018435.wt
data/mongo/t/mongod.lock
data/mongo/t/sizeStorer.wt
data/mongo/t/storage.bson
data/mongo/t/WiredTiger
data/mongo/t/WiredTiger.lock
data/mongo/t/WiredTiger.turtle
data/mongo/t/WiredTiger.wt
data/mongo/t/WiredTigerHS.wt
data/mongo/t/diagnostic.data/metrics.2025-05-23T10-54-17Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T10-55-44Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T10-56-17Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T10-58-50Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T10-59-12Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T10-59-46Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T11-00-17Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T11-04-25Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T11-06-02Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T11-58-46Z-00000
data/mongo/t/diagnostic.data/metrics.2025-05-23T11-59-01Z-00000
data/mongo/t/diagnostic.data/metrics.interim
data/mongo/t/journal/WiredTigerLog.0000000009
data/mongo/t/journal/WiredTigerLog.0000000010
data/mongo/t/journal/WiredTigerLog.0000000011
data/mongo/t/journal/WiredTigerPreplog.0000000001
data/nomad/1/checkpoint-signature
data/nomad/1/client/client-id
data/nomad/1/client/secret-id
data/nomad/1/client/state.db
data/nomad/1/server/node-id
data/nomad/1/server/raft/peers.info
data/nomad/1/server/raft/raft.db
data/nomad/1/server/raft/version
data/nomad/1/server/serf/snapshot
data/nomad/2/checkpoint-signature
data/nomad/2/alloc/6f6ada58-c554-7e69-6da9-e11c94fa0e32/alloc/logs/web.stderr.0
data/nomad/2/alloc/6f6ada58-c554-7e69-6da9-e11c94fa0e32/alloc/logs/web.stdout.0
data/nomad/2/alloc/6f6ada58-c554-7e69-6da9-e11c94fa0e32/web/executor.out
data/nomad/2/alloc/6f6ada58-c554-7e69-6da9-e11c94fa0e32/web/local/run.cmd
data/nomad/2/client/client-id
data/nomad/2/client/secret-id
data/nomad/2/client/state.db
data/nomad/2/server/node-id
data/nomad/2/server/raft/peers.info
data/nomad/2/server/raft/raft.db
data/nomad/2/server/raft/version
data/nomad/2/server/serf/snapshot
data/nomad/3/checkpoint-signature
data/nomad/3/client/client-id
data/nomad/3/client/secret-id
data/nomad/3/client/state.db
data/nomad/3/server/node-id
data/nomad/3/server/raft/peers.info
data/nomad/3/server/raft/raft.db
data/nomad/3/server/raft/version
data/nomad/3/server/serf/snapshot
data/nomad/4/checkpoint-signature
data/nomad/4/client/client-id
data/nomad/4/client/secret-id
data/nomad/4/client/state.db
data/nomad/4/server/node-id
data/nomad/4/server/raft/peers.info
data/nomad/4/server/raft/raft.db
data/nomad/4/server/raft/version
data/nomad/4/server/serf/snapshot
data/nomad/5/checkpoint-signature
data/nomad/5/client/client-id
data/nomad/5/client/secret-id
data/nomad/5/client/state.db
data/nomad/5/server/node-id
data/nomad/5/server/raft/peers.info
data/nomad/5/server/raft/raft.db
data/nomad/5/server/raft/version
data/nomad/5/server/serf/snapshot
data/nomad/6/checkpoint-signature
data/nomad/6/client/client-id
data/nomad/6/client/secret-id
data/nomad/6/client/state.db
data/nomad/6/server/node-id
data/nomad/6/server/raft/peers.info
data/nomad/6/server/raft/raft.db
data/nomad/6/server/raft/version
data/nomad/6/server/serf/snapshot
